anki-2.1.49-linux
.zsh_history
.wine/
.ssh/
.spicetify/
Calibre Library/
Documents/
Downloads/
ExtraDrive/
Monero/
Movies/
Music/
Oxen/
Pictures/
Videos/
anki-2.1.49-linux/
banner.txt
commands.py
ctags/
dwm/
hhg-gui/
host.gnmap
host.nmap
host.xml
input.conf
keyring.deb
zsh-syntax-highlighting/
.SynologyDrive/
.XCompose
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/.gsd-keyboard.settings-ported
.config/BraveSoftware/
.config/Clementine/
.config/Mullvad VPN/
.config/MusicBrainz/
.config/NuGet/
.config/Oxen Electron Wallet/
.config/QtProject.conf
.config/VeraCrypt/
.config/VirtualBox/
.config/autostart/
.config/baloofileinformationrc
.config/calibre/
.config/celluloid/
.config/cmus/
.config/coc/
.config/dconf/
.config/deemix-gui/
.config/deemix/
.config/discord/
.config/dleyna-server-service.conf
.config/dolphinrc
.config/enchant/
.config/evolution/
.config/freerdp/
.config/gedit/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/gtk-3.0/
.config/gtk-4.0/
.config/htop/
.config/ibus/
.config/kactivitymanagerdrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kglobalshortcutsrc
.config/libreoffice/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/neofetch/
.config/nomacs/
.config/pop-shell/
.config/pop-system-updater/
.config/pulse/
.config/qView/
.config/qalculate/
.config/remmina/
.config/session/
.config/solaar/
.config/spicetify/
.config/spotify/
.config/superProductivity/
.config/ticktick/
.config/totem/
.config/touchegg/
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/wireshark/
.config/yelp/
.gitconfig
.gnupg/
.lesshst
.local/
.lokinet/
.mozilla/
.npm/
.nvidia-settings-rc
.oh-my-bash/
.oh-my-zsh/
.osh-update
.oxen/
.pki/
.profile
.python_history
.quokka/
.rustup/
.sdirs
.selected_editor
.shared-ringdb/
.shell.pre-oh-my-zsh
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.tmux.conf
.var/
.vimrc
.vscode/
.wget-hsts
.xinitrc
.xsession
.xsession-errors
.zcompdump-pop-os-5.8.1
.zcompdump-pop-os-5.8.1.zwc
.zshenv

